section(class="canvas front" id="front")

    div(class="content")

        h2 Hei Mun's Portfolio

        div

            p Website & Digital Media Designer | Graphic Designer | Web Developer 

            div

                a(href="#section-1") About Me
                a(href="#section-2") Portfolio

    +nav-1("section-1")
