section(class="canvas section-1" id="section-1")

    h2 Section 1

    div(class="content")

        div

            img(src="images/home/section-1/_inline/profile-picture" inline)

            article

                h2 Hi there! My name is Hei Mun

                p.
                    I'm currently working as a Website & Digital Media Designer with experience in graphic design and developing websites. 

    +nav-1("section-2")
